nav input[type=text] 
{
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


nav li
{
  display: inline;margin-left:0px;margin-right:30px;
}
aside
{
  background:#f1f1f1;
}
.primary
{
  background:#e3e3e3;
}
header
{
  background:red;
}
.main
{
  margin: 30px 0;

}
.style li
{
  font-size:100%;
  font-weight: Bold;
  text-decoration:none;
}
.container_12
{
  display:grid;
}
.hero-text 
{
  text-align: center;  
  top: 50%;
  left: 50%;
  color: white;
}
.hero-image
{
  background-color:red;
  background-size:cover;
  background-position:center;
}
.fa
 {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  }
.fa-facebook
{
    background:red;
  color: white;
  font-size:50px;
  margin-bottom: 5px;
}
.fa-twitter
{
  background:red;
  color: white;
}
.fa-linkedin
{
  background: red;
  color: white;
}
.fa-youtube
{
  background: red;
  color: white;
}
/* apply margin and padding to whole body*/
*{
	margin:0px;
	padding:0px;
}
/*adding a background image with given size specification*/
.bgimage{
	background: url("../img/cgimain.jpg");
	background-size: 100% 100%;
	width: 100%;
	height: 100vh;
}
/*in menu lightening color using rgba where a is used to lighten the given color*/
.menu{

	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.5);
}

.leftmenu{
	width: 20%;
	line-height: 100px;
	float: left;
	padding-right:50px;
/*	background-color: yellow;*/
}

.leftmenu h4{
	padding-left: 50px;
	margin-left:30px;
	margin-right:0px;
	
	float:left;
	
	font-weight: bold;
	color: white;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
}


.rightmenu{
	width:70%;
	height: 100px;
	float: right;
/*	background-color: red; */
}

.rightmenu ul{
	margin-left: 200px;
}

.rightmenu ul li {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color:white;
	font-weight: bold;
	line-height: 100px;
	margin-left: 40px;
	text-transform: uppercase;

}

#fisrtlist{
	color: orange;
}

.rightmenu ul li:hover{
	color: orange;
}


.text{
	width: 100%;
	margin-top: 185px;
	text-transform: uppercase;
	text-align: center;
	color:black;
}

.text h4{

	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.text h1{
	font-size:62px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	margin:14px 0px;
}

.text h3{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.wrap{
	padding-top:0px;
	padding-bottom: 5px;
}
H3{
	margin: 5px;
	text-align: center;
}
.section
{
	padding:10px;
}
.header
{
	position:sticky;
	top:0;
}
.footer-main{
	width:100%;
	height:auto;
	margin:auto;
	background: #222020;
	padding: 30px 0px;
}
.footer-icon{
	width:100%;
	height:auto;
	margin:auto;
}
.footer-icon ul{
	margin:0px;
	padding:0px;
	text-align:center;
}
.footer-icon ul li{
	display:inline-block;
	width:50px;
	height:50px;
	margin:0px 10px;
	border-radius:100%;
	background:#e2dbdb;
}
.footer-icon ul li a{
	color:#222020;
	font-size: 20px;
	display: block;
}
.footer-icon ul li a i{
	line-height: 50px;
}
.footer-menu1
{
	width:100%;
	height:auto;
	margin:auto;
	margin-top: 30px;
}
.footer-menu1 ul{
margin:0px;
padding:0px;
text-align:center;
}
.footer-menu1 ul li{
	display:inline-block;
	margin: 0px 20px;
}
.footer-menu1 ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 600;
	color:white;
	text-transform: uppercase;
	text-decoration: none;
}
.footer-menu2
{
	width:100%;
	height:auto;
	margin:auto;
	margin-top: 20px;
}
.footer-menu2 ul{
margin:0px;
padding:0px;
text-align:center;
}
.footer-menu2 ul li{
	display:inline-block;
	margin: 0px 20px;
}
.footer-menu2 ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 600;
	color:#e2dbdb;
	text-transform: uppercase;
	text-decoration: none;
}
.footer-menu2 ul li a:hover{
color:#5ed3d3;
}
.footer-bottom{
	width:100%;
	height:auto;
	margin:auto;
	background: #dd1616;
	padding:0px;
}
.header{
	position:fixed;
}
.footer-bottom p{
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	text-align: center;
	font-weight: 600;
	letter-spacing: 1px;
}
.footer-bottom p a{
	text-decoration-color: beige;
	text-decoration: none;
	color: beige;
	padding-left:20px;
}
.footer-bottom p a:hover{
	color: aqua;
}
/*using it to use data as flex row*/
.wrapper{
	display:flex;
	flex-direction: column;
}
 .box1{
	margin-top: 5px;
}
.box2{
	margin-top: 5px;
}
.box3{
	margin-top: 5px;
}
body {
	margin: 0;
	padding: 0;
 }
 .hero {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
 }
 .hero-content {
	position: relative;
	font-family: "Monserrat", sans-serif;
	color: white;
	text-align: center;
	margin: 0.625rem;
 }
 .hero-title {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 0;
 }
 .hero-subtitle {
	font-size: 2rem;
	font-weight: 200;
	margin-top: 1rem;
 }
 .hero-button {
	background-color: #ae2d59;
	color: white;
	border: 1px solid #cb376a;
	margin-top: 5rem;
	padding: 0.9375rem1.875rem;
	font-family: "Monserrat", sans-serif;
	font-size: 1.125rem;
	font-weight: 200;
	cursor: pointer;
 }
 .hero-button:hover {
	background-color: #cb376a;
	border: 1px solid #db7598;
 }
 body {
	margin: 0;
	padding: 0;
 }
 .hero {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
 }
 .hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("img/cgiservices.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	filter: brightness(60%);
 }
 .hero-content {
	position: relative;
	font-family: "Monserrat", sans-serif;
	color:red;
	text-align: center;
	margin: 0.625rem;
 }
 .hero-title {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 0;
	color:red;
 }
 .hero-subtitle {
	font-size: 2rem;
	font-weight: 200;
	margin-top: 1rem;
	color:red;

 }
 

 body {
	margin: 0;
	padding: 0;
 }
 .hero {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
 }
 .hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("img/cgimain.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	filter: brightness(60%);
 }
 .hero-content {
	position: relative;
	font-family: "Monserrat", sans-serif;
	color: white;
	text-align: center;
	margin: 0.625rem;
 }
 .hero-title {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 0;
 }
 .hero-subtitle {
	font-size: 2rem;
	font-weight: 200;
	margin-top: 1rem;
 }
 .container {
	position: relative;
  }
  
  
  img { 
	width: 100%;
	height: auto;
	padding-right:70px;
	
  }
  .parallax { 
	/* The image used */
	background-image: url("../img/cgiservices.jpg");
  
	/* Set a specific height */
	height: 500px; 
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
  article{
	  display:block;
	  margin-top=100%;
  }